# basic requirements

protobuf
transformers
tokenizers
cpm_kernels
torch
gradio
sentencepiece
sentence_transformers
accelerate
streamlit
fastapi
loguru~=0.7.2
mdtex2html
latex2mathml
jupyter_client

# for openai demo
openai
zhipuai

pydantic
sse-starlette
uvicorn
timm
tiktoken

# for langchain demo

langchain
langchainhub
arxiv